<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: HierarchyNavStripVccLinkTmplt.html -->
<!-- =============================================================== -->


<div class="HierarchyNavStripVcc vcBox"> 
	<div class="displaySwitch"
		ng-if="datas.view.mech.isOkayToShow"
	>

		<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>
	
		<a class="navLink" href="#!/home" title"HOME">home</a><span class=navThisPage">{{datas.view.info.navThisPageName}}</span>
	
	</div>
</div>

