/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: Page4StationDtlVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-page-4-station-dtl-vcc {
	display: block;
	padding: 5px;
	color: #33a;
	border: dotted 1px #33a;
}

.Page4StationDtlVcc {
	padding: 5px;
	color: #33f;
	border: solid 1px #33f;
}
