<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: Page4StationDtlVccLinkTmplt.html -->
<!-- =============================================================== -->

This is the {{datas.view.info.myname}} Tmplt.
<div  class="Page4StationDtlVcc">
	This is the inside of {{datas.view.info.myname}}.
	<drct-hierarchy-nav-strip-vcc></drct-hierarchy-nav-strip-vcc>
	<drct-station-info-panel-vcc></drct-station-info-panel-vcc>
	<drct-dj-profile-panel-vcc></drct-dj-profile-panel-vcc>
	<drct-last-played-panel-vcc></drct-last-played-panel-vcc>
	<a href="#!/home">Go to Home Page</a>
</div>
StationInfoPanelVcc



