<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: StationsPanelVccLinkTmplt.html -->
<!-- =============================================================== -->

<!-- This is the {{datas.view.info.myname}} Tmplt. -->
<div  class="StationsPanelVcc">
	This is the inside of {{datas.view.info.myname}}.
	<div>* {{datas.view.info.listingsTitle}}</div>
	<drct-stations-listings-vcc atrb-listings-type="{{datas.view.mech.atrbListingsType}}"></drct-stations-listings-vcc>

</div>

