/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: ContentHolderWithPlayerVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 

 
drct-content-holder-with-player-vcc {
	display: block;
	padding: 0px;
	color: #777;
	border: dotted 0px #777;
}

.ContentHolderWithPlayerVcc {
	padding: 5px;
	color: #aaa;
	border: dotted 1px #aaa;
}


.playerWrap {
	padding: 5px;
	color: #caa;
	border: dotted 1px #caa;
}
