<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: ContentHolderWithPlayerVccLinkTmplt.html -->
<!-- =============================================================== -->

This is the {{datas.view.info.myname}} Tmplt.  Time: {{datas.view.info.time}} .
<div class="playerWrap">
	<drct-player-panel-vcc></drct-player-panel-vcc>
</div>
<div data-ui-view='ContentHolderWithPlayerSlot' class="_holder ContentHolderWithPlayerVcc">
	This is the inside of {{datas.view.info.myname}} 
</div>

