<!DOCTYPE html>

<html>
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux (vers 14 June 2007), see www.w3.org">

  <title>WebSocket Radio</title>
  <link rel="stylesheet" href="ChattyAppPage.css" type="text/css">
  <script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js" type="text/javascript"></script>
  <script src="http://pi-node.nanocosm.com:3000/socket.io/socket.io.js" type="text/javascript"></script>
  <script src="ChattyApp.js" type="text/javascript"></script>
  <meta charset="utf-8">
</head>

<body class="PageBody" >
	<div class="ChattyApp" ng-app="ChattyApp" ng-controller="chattingController">
	
		<div class="messageInputWrap">
			<input class="messageInput" ng-keyup="$event.keyCode == 13 &amp;&amp; sendMessage()" ng-model="data.newMessage" placeholder="type message on channel: ID-{{data.channelId}} / {{data.username}}">
			<button class="sendBtn" ng-click="sendMessage()"><span>post</span></button>
		</div>

		<ul class="messagesOutput" ng-show="hasMessages()">
			<li class="messageItem" ng-repeat="messagePkg in data.allMessages track by $index">
				<div class="messageItemUsername"><span>{{messagePkg.username}}</span></div>
				<div class="messageItemTimePosted"><span>{{messagePkg.timePosted}}</span></div>
				<div class="messageItemMessageWrap">
					<div class="messageItemMessage"><span>{{messagePkg.message}}</span></div>
				</div>
			</li>
		</ul>
		
	</div>
</body>
</html>
