* {
	margin: 0;
	padding: 0;
}

.ChattyApp {
   font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.messageInputWrap {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}

.messageInput {
	width: calc(80% - (1px + 1px + 5px + 5px));
	height: calc(30px - (1px + 1px));
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px;
	border: solid 1px #ddd;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
    text-transform: uppercase;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
    text-transform: uppercase;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
    text-transform: uppercase;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
    text-transform: uppercase;
}

.sendBtn {
	width: 70px;
	padding: 7px 0px;
	border: none;
	background-color: #777;

}
.sendBtn span{
	color: #ddd;
	font-size:10px;
	text-transform: uppercase;
}

.messagesOutput {
    list-style-type: none;
}

.messageItem {
	margin-bottom: 15px;
	color: #aaa;
    font-size: 9px;


}

.messageItem:nth-child(1) {
	margin-bottom: 30px;
	font-size: 12px;
	color: #000;
}

.messageItem:nth-child(2) {
	margin-bottom: 25px;
	font-size: 11px;
	color: #707070;
}


.messageItem:nth-child(3) {
	margin-bottom: 22px;
	font-size: 10px;
	color: #8e8e8e;
}


.messageItemUsername {
	float: left;
}
.messageItemUsername span {
	font-weight: 600;
}

.messageItemTimePosted {
	float: right;
}

.messageItemMessageWrap {
	clear: both;
	padding-top: 5px;
	background-color__: red;
}

.messageItemMessage {
	background-color__: yellow;
}
