/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: HomePageVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */

drct-home-page-vcc {
	display: block;
	padding: 5px;
	color: #733;
	border: dotted 1px #733;
}

.HomePageVcc {
	padding: 0px;
	color: #a00;
	border: solid 0px #a00;
}
