/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: PlayerPanelVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-player-panel-vcc {
	display: block;
	padding: 0px;
	color: #33a;
	border: dotted 0px #33a;
}

.PlayerPanelVcc {
	padding: 5px;
	color: #33f;
	border: dotted 1px #33f;
}
