/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: StationDtlPageVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-station-dtl-page-vcc {
	display: block;
	padding: 5px;
	color: #33a;
	border: dotted 1px #33a;
}

.StationDtlPageVcc {
	padding: 5px;
	color: #33f;
	border: solid 1px #33f;
}
