<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: StationsListingsVccLinkTmplt.html -->
<!-- =============================================================== -->

<!-- This is the {{datas.view.info.myname}} Tmplt. -->
<div  class="StationsListingsVcc">
	This is the inside of {{datas.view.info.myname}}.
	<!--- <div>* {{datas.view.info.listingsTitle}}</div> -->  
	<ul>
		<li ng-repeat="Listing_ in datas.view.info.stations"   ng-class="{ 'focsed' : Listing_.id == vv.FocsedItem.id}">
			<a href="#!/station/{{Listing_.name}}/{{Listing_.id}}"  data-vw-model-aspect={{Listing_}} data-listing-id={{Listing_.director}}  >
				{{Listing_.name}}
			</a>
		</li>
	</ul>
</div>

