/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: StationsListingsVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-stations-listings-vcc {
	display: block;
	padding: 0px;
	color: #33a;
	border: dotted 0px #33a;
}


.StationsListingsVcc { 
	display: block;
	padding: 5px;
	color: #33d;
	border: dotted 1px #33d;
}
