<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: Page4HomeVccLinkTmplt.html -->
<!-- =============================================================== -->

<!-- This is the {{datas.view.info.myname}} Tmplt. -->
<div  class="Page4HomeVcc">
	This is the inside of {{datas.view.info.myname}} 
	<drct-masthead-panel-vcc></drct-masthead-panel-vcc>
	
	<drct-genres-panel-vcc atrb-listings-type="ALL_GENRES"></drct-genres-panel-vcc>

	<drct-stations-panel-vcc atrb-listings-type="recentStationsFromIdsListOfUser"></drct-stations-panel-vcc>

	<drct-stations-panel-vcc atrb-listings-type="favoriteStationsFromIdsListOfUser"></drct-stations-panel-vcc>

	<drct-stations-panel-vcc atrb-listings-type="topStoriesStations"></drct-stations-panel-vcc>
	
	<div>
		<a href="#!/station">Go to Station Detail Page</a>
	</div>
</div>

