/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: Page4HomeVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */

drct-page-4-home-vcc {
	display: block;
	padding: 5px;
	color: #733;
	border: dotted 1px #733;
}

.Page4HomeVcc {
	padding: 0px;
	color: #a00;
	border: solid 0px #a00;
}
