<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: Header4StndUseVccLinkTmplt.html -->
<!-- =============================================================== -->

<div class="whoAmI">This is the {{datas.view.info.myname}} Tmplt. </div>
<div  class="Header4StndUseVcc vcBox">
	<img class="logoImg" src="http://dummyimage.com/5:2x50/000000/ffffff&text=Live365" alt="Logo image for header">
</div>

