/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: Header4StndUseVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-header-4-stnd-use-vcc {
	display: block;
}

.Header4StndUseVcc {
	/** Layout **/
	width: 100%;
	height: 64px;
	
	/** Style **/
	background-color: #000;
}


.Header4StndUseVcc .logoImg {
	/** Layout **/
		/*- for vertical centering -*/
		position: relative;  
		top: 50%; transform: 
		translateY(-50%);
	margin-left: 10px;
		
	/** Style **/
	border: solid 1px #755;
	

}
