/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: SocialingPanelVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-socialing-panel-vcc {
	display: block;
	padding: 5px;
	color: #33a;
	border: dotted 1px #33a;
}

.SocialingPanelVcc {
	padding: 5px;
	color: #33f;
	border: solid 1px #33f;
}
