/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: BodyContentHolderVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-body-content-holder-vcc {
	display: block;
	padding: 0px;
	color: #005;
	border: dotted 0px #005;
}

.BodyContentHolderVcc {
	padding: 5px;
	color: #008;
	border: dotted 1px #008;
}
