/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: GenresListingsVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-genres-listings-vcc {
	display: block;
	padding: 0px;
	color: #33a;
	border: dotted 0px #33a;
}


.GenresListingsVcc { 
	display: block;
	padding: 5px;
	color: #33d;
	border: dotted 1px #33d;
}
