<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: StationsListingsVccLinkTmplt.html -->
<!-- =============================================================== -->

<!-- This is the {{datas.view.info.myname}} Tmplt. -->
<div class="StationsListingsVcc vcBox"  
	ng-if="datas.view.mech.isOkayToShow"
>
	<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>
	<!--- <div>* {{datas.view.info.listingsTitle}}</div> -->  
	
	<ul class="listingsCase" 
		ng-if="atrbLayoutType == 'basic'  ||  atrbLayoutType == 'grid' || !atrbLayoutType "
	>
		
		<li class="listingItem" 
			ng-repeat="Listing_ in datas.view.info.stations"   
			ng-class="{ 'focsed' : Listing_.id == vv.FocsedItem.id}"
			id="listing_{{Listing_.id}}"
		>

				<a class="listingLink" 
					href="#!/station/{{Listing_.name}}/{{Listing_.id}}" 
					title="{{Listing_.name}}" 
				>
					<img class="listingImg" 
						src="{{Listing_.stationLogoUrl}}"
						alt="Image for {{Listing_.name}}"
					>
					<h3 class="listingTitle">{{Listing_.name}}</h3>
				</a>

		</li>
	</ul>
	
	<div class="listingsCase">
		<slick 
			class="listingsCarousel" 
			ng-if="atrbLayoutType == 'standardCarousel'"  
			infinite='true' 
			slides-to-show='4' 
			slides-to-scroll='4' 
			lazy-load='ondemand' 
			data="datas.view.info.stations"
		>
			<div class="listingItem" 
				ng-repeat="Listing_ in datas.view.info.stations"   
				ng-class="{ 'focsed' : Listing_.id == vv.FocsedItem.id}"
			>

				<a class="listingLink" 
					href="#!/station/{{Listing_.name}}/{{Listing_.id}}" 
					title="{{Listing_.name}}_{{$index}}" 
				>
					<img class="listingImg" 
						data-lazy="http://dummyimage.com/150x16:9/555555/bbbbbb&text={{Listing_.name}}'s img" 
						alt="Image for {{Listing_.name}}"
					>
					<h3 class="listingTitle">{{Listing_.name}}_{{$index}}</h3>
				</a>

			</div>
		</slick>
	</div>
</div>

