<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: GenresPanelVccLinkTmplt.html -->
<!-- =============================================================== -->

This is the {{datas.view.info.myname}} Tmplt.
<div  class="GenresPanelVcc">
	This is the inside of {{datas.view.info.myname}}.
	
	<ul>
		<li ng-repeat="Listing_ in datas.view.info.genres"   ng-class="{ 'focsed' : Listing_.id == vv.FocsedItem.id}">
			<a href="#/genre/{{Listing_.id}}"  data-vw-model-aspect={{Listing_}} data-listing-id={{Listing_.director}}  >
				{{Listing_.name}}
			</a>
		</li>
	</ul>
</div>

