<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: MastheadPanelVccLinkTmplt.html -->
<!-- =============================================================== -->

<div class="whoAmI">This is the {{datas.view.info.myname}} Tmplt. </div>

<!--
<img class="mastheadImg" src="http://dummyimage.com/16:9x200/775555/bbbbbb&text=Masthead" alt="Image for Masthead">
-->

<img class="mastheadImg" src="http://projects.jerryls.com/LiveO5/Assets/homepage_image.jpg" alt="Image for Masthead">

