<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: ContentHolderWithPlayerVccLinkTmplt.html -->
<!-- =============================================================== -->


<div class="ContentHolderWithPlayerVcc vcBox">
	
	<div class="displaySwitch"
		ng-if="datas.view.mech.isOkayToShow"
	>
		<div class="whoAmI">This is the {{datas.view.info.myname}} Tmplt.  Time: {{datas.view.info.time}} .</div>



		<div class="_holder"
			data-ui-view='ContentHolderByPlayerSlot' 
		>
			This is the inside of {{datas.view.info.myname}} 
		</div>

		<div class="playerPanelWrap">
			<drct-player-panel-vcc 
				ng-if="datas.view.mech.isOkayToShowPlayer"
			></drct-player-panel-vcc>
		</div>
	</div>
</div>




