/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: ContentHolderWithPlayerVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 

 
drct-content-holder-with-player-vcc {
	/** Layout **/
	display: block;
}

.PlayerPanelVcc {
	/** Layout **/
	margin-bottom__: 104px;
}

.drct-content-holder-with-player-vcc ._holder {
}

drct-content-holder-with-player-vcc  drct-player-panel-vcc{
	/** Layout **/
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10000;
}



