/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: StationsPanelVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-stations-panel-vcc {
	display: block;
	padding: 0px;
	color: #33a;
	border: dotted 0px #33a;
}

.StationsPanelVcc { 
	display: block;
	padding: 5px;
	color: #33d;
	border: dotted 1px #33d;
}
.StationsPanelVcc .StationsListingsVcc > ul {
    padding:0;
    margin:0;
    text-align:center;
}
.StationsPanelVcc .StationsListingsVcc > ul > li {
	margin: 2px;
	padding: 2px;
    display:inline-block;
    vertical-align:top;
    position:relative;
    background:grey;
    color: white;
}
.StationsPanelVcc .StationsListingsVcc > ul > li > a {
    color: white;
    text-decoration: none;
}
