<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: ChromeStndAsOneColStndHolderVccLinkTmplt.html -->
<!-- =============================================================== -->

<!-- This is the {{datas.view.info.myname}} Tmplt.  Time: {{datas.view.info.time}} . -->
<div class="ChromeStndAsOneColStndHolderVcc vcBox {{datas.view.mech.string_footerOffset_yesOrNo}}"> 
	<div class="displaySwitch"
		ng-if="datas.view.mech.isOkayToShow"
		
	>

		<drct-header-4-stnd-use-vcc></drct-header-4-stnd-use-vcc>
		<drct-hierarchy-nav-strip-vcc></drct-hierarchy-nav-strip-vcc>

		<div data-ui-view='ChromeStndAsOneColStndHolderSlot' class="_holder">
			<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>
		</div>

		<div class="bottomOffsetter"></div>

		<drct-footer-4-stnd-use-vcc></drct-footer-4-stnd-use-vcc>
	</div>
</div>

