/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: ChromeStndAsOneColStndHolderVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-chrome-stnd-as-one-col-stnd-holder-vcc {
	/** Layout **/
	display: block;
	position: relative;
	min-height: 100vh;
	
	/** Style **/
	background-color: #ddc;
}



drct-chrome-stnd-as-one-col-stnd-holder-vcc  drct-header-4-stnd-use-vcc {
	/** Layout **/
	margin-bottom: 10px;
}

drct-chrome-stnd-as-one-col-stnd-holder-vcc  drct-hierarchy-nav-strip-vcc {
	/** Layout **/
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
	
	/** Style **/
	border__: solid 1px red;
}

drct-chrome-stnd-as-one-col-stnd-holder-vcc  ._holder {
	/** Layout **/
	margin-left: 40px;
	margin-right: 40px;
}


drct-chrome-stnd-as-one-col-stnd-holder-vcc .footerOffset_yes  .bottomOffsetter {
	height: calc(104px + 105px);
}

drct-chrome-stnd-as-one-col-stnd-holder-vcc  .footerOffset_no  .bottomOffsetter {
	height: calc(104px + 60px);
}

drct-chrome-stnd-as-one-col-stnd-holder-vcc  drct-footer-4-stnd-use-vcc {
	/** Layout **/
	position: absolute;
	bottom: 0px;
	height: 55px;
	width: calc( 100% - (0px + 0px) );
	
	/** Style **/
	border__: solid 1px orange;
}

drct-chrome-stnd-as-one-col-stnd-holder-vcc  .footerOffset_yes  drct-footer-4-stnd-use-vcc {
	/** Layout **/
	bottom: 104px;
}

drct-chrome-stnd-as-one-col-stnd-holder-vcc  .footerOffset_no  drct-footer-4-stnd-use-vcc {
	/** Layout **/
	bottom: 0px;
}

