<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: GenresPanelVccLinkTmplt.html -->
<!-- =============================================================== -->

<!-- This is the {{datas.view.info.myname}} Tmplt. -->
<div  class="GenresPanelVcc">
	This is the inside of {{datas.view.info.myname}}.
	<!-- <div>* {{datas.view.info.listingsTitle}}</div> -->

	<drct-genres-listings-vcc atrb-listings-type="{{datas.view.mech.atrbListingsType}}"></drct-genres-listings-vcc>

</div>

