<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: Page4HomeVccLinkTmplt.html -->
<!-- =============================================================== -->


<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>

<drct-masthead-panel-vcc></drct-masthead-panel-vcc>

<drct-stations-panel-vcc 
	class="gridLayout allStations"
	atrb-panel-displayed-title="All Stations" 
	atrb-listings-type="topStations" 
	atrb-listings-layout-type="grid" 
></drct-stations-panel-vcc>


<drct-stations-panel-vcc 
	class="standardCarousel recentlyPlayedStations"
	atrb-panel-displayed-title="Recently Played Stations"
	atrb-listings-type="recentStationsFromIdsListOfUser"
	atrb-listings-layout-type="standardCarousel" 
></drct-stations-panel-vcc>


