/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: Page4HomeVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */

drct-page-4-home-vcc {
	display: block;
}

drct-page-4-home-vcc  drct-masthead-panel-vcc {
	margin-bottom: 30px;
}

drct-page-4-home-vcc  drct-stations-panel-vcc {
	margin-bottom: 30px;
}
