/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: PlayerPanelVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */


drct-player-panel-vcc {
	/** Layout **/
	display: block;
	width: calc( 100% );
	min-width: 425px;
	
	/** Style **/
	background-color: #000;
}

drct-player-panel-vcc .requestedInfo {
	/** Layout **/
	margin: 5px;
	/** Style **/
	color: #ddf;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
}


drct-player-panel-vcc .viewportIframe {
	/** Layout **/
	width: calc(100% - (5px + 5px) );
	min-width: 425px;
	height: 70px;
	padding: 0;
	margin: 5px;
	overflow: hidden;
	
	/** Style **/
	border: none;
}


