<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: PlayerPanelVccLinkTmplt.html -->
<!-- =============================================================== -->

<div class="PlayerPanelVcc vcBox">
	
	<div class="displaySwitch"
		ng-if="datas.view.mech.isOkayToShow"
	>
		<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>

		<div class="requestedInfo">
			StationId requested: {{datas.view.info.stationId}}.
			PlayerUrl: {{datas.view.info.iframeSrc}}.
		</div>
		
	</div>
</div>


