<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: DjProfilePanelVccLinkTmplt.html -->
<!-- =============================================================== -->

This is the {{datas.view.info.myname}} Tmplt.
<div  class="DjProfilePanelVcc">
	This is the inside of {{datas.view.info.myname}}.
	<div class="stationDjListLyt">
		<div ng-repeat="Listing_ in datas.view.info.station.djs" class="stationDjLyt">
			<div class="stationDjInfoLyt">
				<div class="stationDjNameLyt">
					{{Listing_.firstName}} {{Listing_.lastName}}
				</div>
				<div class="stationDjBioLyt">
					{{Listing_.bio}}
				</div>
			<div>
			<div class="stationDjPicLyt">
				<img src="{{Listing_.djPicUrl}}" alt="{{Listing_.firstName}} {{Listing_.lastName}} dj pic" >
			</div>
		</div>
	</div>
</div>

