/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: HierarchyNavStripVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-hierarchy-nav-strip-vcc {
	display: block;
	padding: 5px;
	color: #33a;
	border: dotted 1px #33a;
}

.HierarchyNavStripVcc {
	padding: 5px;
	color: #33f;
	border: solid 1px #33f;
}
