<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: StationInfoPanelVccLinkTmplt.html -->
<!-- =============================================================== -->

This is the {{datas.view.info.myname}} Tmplt.
<div  class="StationInfoPanelVcc">
	This is the inside of {{datas.view.info.myname}}.
	<drct-socialing-panel-vcc></drct-socialing-panel-vcc>
</div>

