<!DOCTYPE html>
<html data-ng-app='AppVcc' data-ng-controller='AppVccVwCtrl'>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' >
	<title>Live-05</title>
	<link rel="stylesheet" href="http://projects.jerryls.com/LiveO5/vendor/bower_components/slick-carousel/slick/slick.css">
</head>
<body>
	<!-- ALL CONTENT GOES IN HERE -->
	<drct-body-content-holder-vcc></drct-content-holder-vcc>



	<!-- MESSAGE UNTIL ANGULAR RUNS -->
	<div class='PleaseWaitMssg' style='display:{{datas.view.mech.pleaseWaitDisplayStyle}}'>
		Page will load soon.
	</div>

	<!-- JAVASCRIPT - TO BE BUNDLED -->
	<script src='//code.jquery.com/jquery-2.1.1.min.js'></script>
	<script src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js"></script>
	<script src="//code.angularjs.org/1.3.0-beta.17/angular.js"></script>
	<script src='//code.angularjs.org/1.3.0-beta.17/angular-resource.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js'></script>
	<script src="http://projects.jerryls.com/LiveO5/vendor/bower_components/slick-carousel/slick/slick.js"></script>
	<script src="http://projects.jerryls.com/LiveO5/vendor/bower_components/angular-slick/dist/slick.js"></script>
	
	
	<script type="text/javascript" src="bundle_app.js" charset="utf-8"></script>

</body>
</html>


