<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: StationsPanelVccLinkTmplt.html -->
<!-- =============================================================== -->

<div class="StationsPanelVcc vcBox">
	<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>

	<h2 class="panelDisplayedTitle">{{atrbPanelDisplayedTitle}}</h2>

	<drct-stations-listings-vcc 
		atrb-listings-type="{{datas.view.mech.atrbListingsType}}" 
		atrb-layout-type="{{atrbListingsLayoutType}}"
	></drct-stations-listings-vcc>
</div>


