/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: StationsPanelVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-stations-panel-vcc {
	display: block;
}



/***********************************************************************
 * for Common *
 **********************************************************************/

drct-stations-panel-vcc .panelDisplayedTitle {
	/** Layout **/
	margin-left: calc( 10px );
	/** Style **/
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}


drct-stations-panel-vcc  drct-stations-listings-vcc .listingsCase {
	/** Layout **/
	width: calc(100%);
    padding:0;
    margin-left__: 20px;
    margin-right__: 20px;
    text-align: left;
    position: relative;
    /** Style **/
    border__: solid 1px blue;
    list-style-type: none;
}

drct-stations-panel-vcc  drct-stations-listings-vcc .listingItem {
	/** Layout **/
	display:inline-block;
	padding: 15px;
    vertical-align: top;
    position:relative;
	/** Style **/
	border__: solid 1px red;
	background-color__: #aaf;
}


 drct-stations-panel-vcc  drct-stations-listings-vcc .listingLink {
	/** Layout **/
	display: block;
	text-align: left;
	vertical-align: top;
	/** Style **/
    text-decoration: none;
    border: solid 2px #fff;
}

drct-stations-panel-vcc  drct-stations-listings-vcc .listingImg {
	/** Layout **/
	display: block;
    width: 100%;
    height: calc(100% * 9/16);
    margin-bottom: 0;
	padding-bottom: 0;
	border__: solid 1px red;
}

drct-stations-panel-vcc  drct-stations-listings-vcc .listingTitle {
	/** Layout **/
	padding: 10px;
	padding-bottom: 15px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

	
	/** Style **/
    color: #555;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-weight: normal;
    background-color: #ccc;
    border__: solid 1px green;
 
}

/***********************************************************************
 * for Grid Layout *
 **********************************************************************/

drct-stations-panel-vcc.gridLayout  drct-stations-listings-vcc .listingItem {
	/** Layout **/
	width: calc( (100% / 1) - (15px + 15px) );
	margin__: 0;
	width__: calc(11 * (100% * 1/5)/12  );
	min-width: 200px;
	margin__: 10px;
	margin__: calc(1 * (100% * 1/5)/12  );	
 
}


    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
		drct-stations-panel-vcc.gridLayout  drct-stations-listings-vcc .listingItem {
			width: calc( (100% / 1) - (15px + 15px) );
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		drct-stations-panel-vcc.gridLayout  drct-stations-listings-vcc .listingItem {
			width: calc( (100% / 1) - (15px + 15px) );
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		drct-stations-panel-vcc.gridLayout  drct-stations-listings-vcc .listingItem {
			width: calc( (100% / 2) - (15px + 15px) );
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		drct-stations-panel-vcc.gridLayout  drct-stations-listings-vcc .listingItem {
			width: calc( (100% / 3) - (15px + 15px) );
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		drct-stations-panel-vcc.gridLayout  drct-stations-listings-vcc .listingItem {
			width: calc( (100% / 4) - (15px + 15px) );
        }
    }



/***********************************************************************
 * for Standard Carousel Layout *
 **********************************************************************/

drct-stations-panel-vcc.standardCarousel  drct-stations-listings-vcc .listingsCarousel {
	/** Layout **/
	width: 100%;
    margin-bottom: 0;
	border__: solid 1px red;
}

drct-stations-panel-vcc.standardCarousel  drct-stations-listings-vcc .listingItem {
	/** Layout **/
	width: calc(100% * 1/4);	
	/** Style **/
}

drct-stations-panel-vcc.standardCarousel  drct-stations-listings-vcc .slick-prev,
drct-stations-panel-vcc.standardCarousel  drct-stations-listings-vcc .slick-next {
	/** Style **/
}

drct-stations-panel-vcc.standardCarousel  drct-stations-listings-vcc .slick-prev {
	left: 20px;
}
drct-stations-panel-vcc.standardCarousel  drct-stations-listings-vcc .slick-next {
	right: 20px;
}


