/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: Footer4StndUseVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-footer-4-stnd-use-vcc {
	/** Layout **/
	display: block;
	min-height: 55px;

	/** Style **/
	color: #aaa;
	background-color: #333;
}


drct-footer-4-stnd-use-vcc .usAndCopyright{
	/** Layout **/
	text-align: center;
		/*- for vertical centering -*/
		position: relative;  
		top: 50%; transform: 
		translateY(-50%);

	/** Style **/
}

drct-footer-4-stnd-use-vcc .usAndCopyright .us {
	margin-bottom: 5px;
}

drct-footer-4-stnd-use-vcc .usAndCopyright .copyright {
}
