<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: Footer4StndUseVccLinkTmplt.html -->
<!-- =============================================================== -->

<div class="usAndCopyright">
	<div class="us">
		Live365.com is an officially licensed ASCAP, BMI, SESAC, SoundExchange, & SOCAN site.
	</div>
	<div class="copyright">
		Copyright © Live365, Inc. 1999-2015
	</div>
</div>


