/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: OneColStndHolderVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-one-col-stnd-holder-vcc {
	display: block;
	padding: 0px;
	color: #777;
	border: dotted 0px #777;
}

.OneColStndHolderVcc {
	padding: 5px;
	color: #aaa;
	border: dotted 1px #aaa;
}
