/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: StationInfoPanelVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-station-info-panel-vcc {
	display: block;
}


drct-station-info-panel-vcc .stationMasthead {
	/** Layout **/
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
	border__: solid 1px green
}

drct-station-info-panel-vcc .stationLogoBox {
	/** Layout **/
	float: left;
}

drct-station-info-panel-vcc .stationSummary{
	/** Layout **/
	float: left;
	display: block;
	width: calc( 100% - (276px + 20px + 20px) );
	margin-left: 20px;
	margin-top: 80px;
	overflow: hidden;
		
	/** Style **/
	font-size: 16px;
	border__: solid 1px red;
}

drct-station-info-panel-vcc .stationTitle {
	/** Layout **/
	display: block;
	margin-bottom: 10px;
		
	/** Style **/
	font-size: 16px;
	border__: solid 1px red;
}

drct-station-info-panel-vcc .playButton {
	/** Layout **/
	display: block;
		
	/** Style **/
	font-size: 16px;
}


drct-station-info-panel-vcc .stationDetailDesc {
	/** Layout **/
	display: block
}


/*
<div  class="StationInfoPanelVcc">
	<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>
	<div "stationLogo">
		<img src="{{datas.view.info.station.stationLogoUrl}}" alt="{{datas.view.info.station.title}} station logo" >
	</div>
	<div>
		<div class="stationTitle">
			{{datas.view.info.station.title}}
		</div>
	</div>
	<div class="stationDetailDesc">
		{{datas.view.info.station.detailDescription}}
	</div>
</div>
* 
* 
	** Layout **
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	** Style **
	font-weight: normal;
	
*/
