<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: StationInfoPanelVccLinkTmplt.html -->
<!-- =============================================================== -->



<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>
<div class="stationMasthead">
	<div class="stationLogoBox">
		<img src="{{datas.view.info.station.stationLogoUrl}}" alt="{{datas.view.info.station.title}} station logo" >
	</div>
	<div class="stationSummary">
		<h1 class="stationTitle">
			{{datas.view.info.station.title}} {{datas.view.info.station.id}}
		</h1>
		<button class="playButton"
			drct_click_to_mediator_adc = '{
				"notice": {
					"noticeName": "Clicked_StationPlaySwitch",
					"vc": "StationInfoPanelVcc",
					"context": "",
					"stationId": {{datas.view.info.station.id}}
				}
			}'
		>
			&#9654;
		</button>
	</div>
</div>

<div class="stationDetailDesc">
	{{datas.view.info.station.detailDescription}}
</div>


