<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: Page4StationDtlVccLinkTmplt.html -->
<!-- =============================================================== -->


<div class="Page4StationDtlVcc vcBox">
	
	<div class="whoAmI">This is the inside of {{datas.view.info.myname}}.</div>
		
	<drct-station-info-panel-vcc 
		atrb-station-id="{{datas.view.mech._atrbStationId}}" 
		atrb-station-name="{{datas.view.mech._atrbStationName}}"
	></drct-station-info-panel-vcc>
	
	<drct-chat-panel-vcc 
		atrb-channel-id="{{datas.view.mech._atrbStationId}}"
		atrb-user-display-name="{{datas.view.mech._atrbUserDisplayName}}" 
	></drct-chat-panel-vcc>

</div>



