/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: Page4StationDtlVccLinkStyle.css
 * *********************************************************************
 * *********************************************************************
 */
 
drct-page-4-station-dtl-vcc {
	display: block;
}


drct-page-4-station-dtl-vcc  drct-chat-panel-vcc {
	padding-top: 20px;
	border-top: solid 1px #bbb;
}
